.container {
    padding: 1.2rem;
  }

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBarOptionContainer {
    display: flex;
}

.buttonJoin {
    background-color: rgb(69, 140, 206);
    border-radius: 10px;
    padding-block: 0.6rem;
    padding-inline: 1.2rem;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    cursor: pointer;
}